body{
    background-color: #EDEFF0 ;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "header header"
                         "menu related"
                         "content related"
                         "footer footer";
    width: 60em;
    margin: 0 auto;

    
}


header
{
    grid-area: header;
    position: relative;
    
}

header #signup {
    position: absolute;
    top: 7dvh; 
    right: 3.5%;
}

#menu{
    grid-area: menu;
    width: 100%;

}

#menu ul{
    display: flex;
    width: 100%;
}

#menu li {
    flex: 1;
}


#related{
    grid-area: related;
    align-self: stretch;
}

#news{
    grid-area: content;
    margin-bottom: 0;
}

footer
{
    grid-area: footer;
}

section footer {
    display: flex;
    align-items: center;
}

section footer .author {
    margin-right: auto;
}