@media (max-width: 60em) {
    body {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas: "header"
            "menu"
            "content"
            "footer";
    }

    #related {
        display: none;
    }
}

@media (max-width: 30em) {

    header h2 {
        display: none;
    }

    header #signup {
        position: absolute;
        left: 17px;
        top: 60px;
    }

    #hamburger {
        display: none;

    }

    .hamburger {
        display: block;
        cursor: pointer;
        padding: 17px;
        background-color: #046DD5;
        color: white;
    }

    .hamburger::before {
        content: "☰ Menu";
    }

    .hamburger::after {
        content: "✕ Menu";
        display: none;
    }

    #hamburger:checked ~ .hamburger::before {
        display: none;
    }

    #hamburger:checked ~ .hamburger::after {
        display: block;
    }

    #menu ul {
        display: flex;
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.35s ease, opacity 0.3s ease;
    }

    #hamburger:checked~ul {
        max-height: 400px;
        opacity: 1;
    }

    #menu li {
        text-align: left;
        padding-left: 10px;
    }

    #menu li:nth-child(1) {
        border-top: none;
        border-left: 5px solid #E1493E;
    }

    #menu li:nth-child(2) {
        border-top: none;
        border-left: 5px solid #8ABA56;
    }

    #menu li:nth-child(3) {
        border-top: none;
        border-left: 5px solid #5B4282;
    }

    #menu li:nth-child(4) {
        border-top: none;
        border-left: 5px solid #FF8932;
    }

    #menu li:nth-child(5) {
        border-top: none;
        border-left: 5px solid #19B6E9;
    }

    #menu li:nth-child(6) {
        border-top: none;
        border-left: 5px solid #E84C8B;
    }

    #hamburger:checked~ul {
        display: flex;
    }

    #news article header {
        position: static;
        display: block;
    }

    #news header h1 a {
        color: black;
        text-shadow: none;
        font-size: 18px;
    }

    img {
        margin-top: 0;
    }
}