/*

1- First example

body {
  position: relative;
}

aside {
  position: absolute;
  right: 0;
  width: 40%;
  height: 74.5%;
  
}

article{
    width: 80%;
    margin: 0 auto;
}

main {
  float: left;
  width: 60%;
}

footer {
  clear: left;
}

*/

/*
body {
  position: relative;
}

aside {
  position: absolute;
  right: 0;
  width: 40%;
  height: 56.6%;
  
}

article{
    width: 18%;
    display: inline-block;
    vertical-align: top;
}

main {
  float: left;
  width: 60%;
}

footer {
  clear: left;
}

*/

body {
  position: relative;
}

header,nav{
  width: 60%;
}

aside {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 11.1%;
  
}

main {
  margin-top: 70px; /* push main down */
}

footer {
  position: absolute;
  top: 13%; /* adjust footer down by the same amount */
  width: 96.7%;
}